:root {
  --blue: #4285f4;
  --red: #db4437;
  --yellow: #f4b400;
  --green: #cfd232;
  --darkgreen: #3c4504;
  --notebook: #eec8a1;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg-img {
  background: url(../img/bg.jpg) center no-repeat;
  height: 30vh;
  background-size: cover;
  flex-direction: column;
  border: var(--green) solid;
}

h1 {
  margin-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: auto;
  color: var(--darkgreen);
  background: linear-gradient(
      rgba(227, 231, 173, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    center no-repeat;
  padding: 3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  /* border-bottom: 0.3rem solid var(--darkgreen); */
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

h2 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  width: auto;
  color: var(--darkgreen);
  background: linear-gradient(
      rgba(227, 231, 173, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    center no-repeat;
  padding: 0 3rem;
  text-transform: capitalize;
  letter-spacing: 0.6rem;
  border-bottom: 0.3rem solid var(--green);
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.badge {
  text-shadow: 1px 1px black;
}

.badge-warning{
  color: white;
  background-color: rgb(207, 158, 35)
}

.list-group-item:first-child{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.light-dark-toggle:hover {
  background-color: rgb(209 208 208);
}

/* Initially, HIDE THE TASK FORM  */

.modal-header,
label {
  color: var(--darkgreen);
  text-shadow: 1px 1px var(--green);
}

/* #new-task-modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 20px 4x rgba(0, 0, 0, 0.3);
  display: none;
  margin: 2rem;
} */

/* To display the error message  */
.form-group {
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
}

.form-group i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

/* Invalid input error message  */
.form-group small {
  visibility: hidden;
  position: absolute;
  bottom: 5;
  left: 0;
}

.btn {
  margin-top: 2rem;
  background-color: var(--notebook);
}

.btn:hover {
  background-color: var(--green);
}

.list-group .btn{
  margin-left: 0.5rem;
}

.list-group .done-button{
  color: #28a745;
  border-style: solid;
  border-color: #28a745;
}

.list-group .edit-button{
  color: #4285f4;
  border-style: solid;
  border-color: var(--blue);
}

.list-group .delete-button:hover{
  background-color: var(--red)
}

.list-group .edit-button:hover{
  background-color: var(--blue);
  color: white;
  border-color: var(--blue)
}

.list-group .done-button:hover{
  background-color: #28a745;
  color: white;
}

/* Form input success symbol*/
.success i.fa-check-circle {
  visibility: visible;
  color: var(--green);
}

.success textarea,
.success input,
.success select {
  border-color: var(--green);
}

.success small {
  visibility: visible;
  color: var(--darkgreen);
}

/* Form input error symbol*/
.error i.fa-exclamation-circle {
  visibility: visible;
  color: var(--red);
}

.error textarea,
.error input,
.error select {
  border-color: var(--red);
}

.error small {
  visibility: visible;
  color: var(--red);
}

/** Tasks List format */
ul {
  margin: 2rem;
  /* padding: 0 2rem 0 0; */
  border-color: var(--green);
}

li {
  border-radius: 1rem;
}
.edit,
.delete {
  float: right;
  margin: 0 1rem 0 0;
  color: var(--darkgreen);
}

/* TASK 4: TIME DISPLAY  */
.timeDisplay {
  display: block;
  text-align: right;
  margin: 10px;
  font-size: 20px;
  color: var(--darkgreen);
}

/***************** Light and Dark theme *************/

.light-dark,
.timeDisplay {
  display: inline-block;
  margin-top: 2rem;
  vertical-align: top;
}
/* Position the light dark toggle bar to the right  */
.light-dark {
  float: right;
}
/* hide checkbox  */
.checkbox {
  opacity: 0;
}

/* Adjacent selector + 
Select toggle inside the label and change the position from left to right.
*/
.checkbox:checked + .label .light-dark-toggle {
  transform: translateX(3rem);
}

/* Reference 
https://stackoverflow.com/questions/19000124/how-to-add-different-styles-to-one-label-field-using-css
 */
label span {
  width: 3rem;
  height: 2.3rem;
  background-color: rgb(66, 66, 66);
  display: flex;
  border-radius: 1rem;
  width: 5.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.fa-moon {
  color: #f5f5f5;
}
.fa-sun {
  color: #ffbb00;
}
.light-dark-toggle {
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: rgb(165, 165, 165);
  position: absolute;
  height: 2.1rem;
  width: 2.3rem;
  /* this is added to make the transition smooth  */
  transition: transform 0.15s linear;
}

/************************************************/
/*                  Dark Theme                  */
/************************************************/
body.dark {
  background-color: #24252a;
  color: black;
  transition: background 0.2s linear;
}
/* label.dark {
  background-color: black;
} */

.dark h1{
  color: #ff6961;
  text-shadow: 2px 2px #5d2522;
}

.dark h2{
  color:whitesmoke;
  text-shadow: 2px 2px rgb(109, 109, 109);
  border-bottom: .3rem solid #ff6961;
}

.dark h3{
  color: whitesmoke;
  text-shadow: 2px 2px rgb(109, 109, 109);
}

.dark .timeDisplay{
  color:whitesmoke;
  text-shadow: 2px 2px rgb(109, 109, 109);
}

.dark #open-task-modal{
  background-color: #ff6961;
  text-shadow: 2px 2px rgb(109, 109, 109);
  color:whitesmoke;
}

.dark .bg-img{
  border:3px solid #ff6961;
}

.dark .list-group-item{
  background-color: #4c4d53;
  border: 1px solid #ff6961;
  color:rgb(209, 209, 209); 
}
.dark .list-group-item h5{
  color:whitesmoke;
}

.dark .to-do-col{
  margin: 1rem;
  border-radius: 0.5rem;
  border: #ff6961 1px solid !important;
}

.dark .in-progress-col{
  margin: 1rem;
  border-radius: 0.5rem;
  border: #ff6961 1px solid !important;
}

.dark .done-col{
  margin: 1rem;
  border-radius: 0.5rem;
  border: #ff6961 1px solid !important; 
}

.dark .hold {
  border: solid rgba(255, 255, 255, 0.3) 4px;
  border: #ff6961 1px solid;
}

.dark .hovered {
  background: rgb(238, 238, 234);
  border-style: dashed;
  border: #ff6961 1px solid;
}

.dark .edit-button{
  background-color: #4285f4;
  color: #fff;
}
.dark .edit-button:hover{
  background-color: #005ff8;
  border-color: #005ff8;
  color: #fff;
}

.dark .delete-button{
  background-color: #ff6961;
  border-color: #ff6961;
  color: #fff;
}
.dark .delete-button:hover{
  background-color: var(--red);
  border-color: var(--red);
  color: #fff;
}

.dark .list-group .done-button{
  background-color: #28a745;
  border-style: solid;
  border-color: #28a745;
  color: #fff;
}

.dark .list-group .done-button:hover{
  background-color: #1c8033;
  border-style: solid;
  border-color: #1c8033;
  color: #fff;
}

.dark .drag-drop-container > div{
max-width: 100%;
}

.dark .modal-content{
  background-color: #24252a;
  
}

.dark .modal-header, .dark label {
  color:whitesmoke;
  text-shadow:none;
}

.dark .modal-title {
  color:whitesmoke;
  text-shadow:none;
  background: none;
  border-bottom: none;
}

.dark .btn-block{
  background-color: #ff6961;
  text-shadow: rgb(109 109 109) 2px 2px;
  color:whitesmoke;
}

.dark .close{
  color:white;
}

.dark .success small{
color:palegreen;
}

.success textarea, .success input, .success select{
  border-color: palegreen;
}

/************************************************/
/*               Drag and Drop Feature          */
/************************************************/
.bg {
  background-image: url("");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.drag-drop-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
}

h3 {
  margin: 1rem 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  width: auto;
  background: linear-gradient(
    rgba(227, 231, 173, 0.2),
    rgba(255, 255, 255, 0.3)
  );
  border-bottom: 0.01rem solid var(--darkgreen);
  letter-spacing: 0.1rem;
}

h5 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: var(--darkgreen);
}

.to-do-col,
.in-progress-col,
.done-col {
  margin: 1rem;
  border-radius: 0.5rem;
  border: var(--green) 1px solid;
}

.list-group {
  cursor: pointer;
}


/* Hold and dragging the task item  */
.hold {
  border: solid rgba(255, 255, 255, 0.3) 4px;
  border: var(--green) 1px solid;
}

.hovered {
  background: rgb(238, 238, 234);
  border-style: dashed;
  border: var(--green) 1px solid;
}

/************************************************/
/*                Responsiveness                */
/************************************************/
@media screen and (max-width: 600px) {
  .row {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    align-items: center;
  }

  .col{
    margin-left:15px;
  }

  .drag-drop-container {
    margin-left: 5px;
    padding: 15px;
  }


}