:root {
  --blue: #4285f4;
  --red: #db4437;
  --yellow: #f4b400;
  --green: #cfd232;
  --darkgreen: #3c4504;
  --notebook: #eec8a1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eec7a14d;
  color: black;
  transition: background 0.2s linear;
}

.bg-img {
  background: url("https://images.unsplash.com/photo-1547234935-80c7145ec969?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80")
    center no-repeat;
  height: 30vh;
  background-size: cover;
  flex-direction: column;
  border: 3px solid #cbdfbd;
  opacity: 0.7;
}

h1 {
  margin-top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  width: auto;
  color: #cbdfbd;
  padding: 3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  /* border-bottom: 0.3rem solid var(--darkgreen); */
  text-shadow: rgb(113 151 107) 2px 2px;
}

h2 {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  width: auto;
  padding: 0 3rem;
  text-transform: capitalize;
  letter-spacing: 0.6rem;
  color: rgb(217 228 200);
  text-shadow: 2px 2px rgb(113 151 107);
  background: none;
  font-weight: 800;
}

.badge {
  color: white;
  text-shadow: 1px 1px black;
}

/* paragraph scroll */

p {
  max-width: 232px;
  max-height: 72px;
  overflow: auto;
  word-wrap: break-word;
}

.list-group-item:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.list-group-item {
  background-color: rgb(178, 207, 159);
  border: 1px solid #cbdfbd;
  color: white;
}

.list-group-item h5 {
  color: #ffffff;
}

img.weather-icon {
  width: 70px;
  margin: auto;
}

.light-dark-toggle:hover {
  background-color: rgb(209 208 208);
}

/* Initially, HIDE THE TASK FORM  */

.modal-header,
label {
  color: #d58992;
  text-shadow: rgb(255 255 255) 1px 1px;
  font-weight: bold;
}

.modal-title {
  color: rgb(255 255 255);
  text-shadow: rgb(83 141 74) 2px 2px;
  border-bottom: none;
  margin-left: 4rem;
}

.modal-content {
  background-color: #f3e8de;
  text-shadow: 1px 1px rgb(83 141 74);
}

#open-task-modal {
  background-color: var(--notebook);
  text-shadow: rgb(157 106 54) 2px 2px;
  color: white;
  font-size: larger;
  width: 75%;
  margin: 0 auto;
}

/* #new-task-modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 20px 4x rgba(0, 0, 0, 0.3);
  display: none;
  margin: 2rem;
} */

/**************** Additional Features **************/
.container {
  justify-content: space-between;
}
/* To display the error message  */
.form-group {
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
}

.form-group i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

/* Invalid input error message  */
.form-group small {
  visibility: hidden;
  position: absolute;
  bottom: 5;
  left: 0;
}

.btn-block {
  background-color: #cbdfbd;
  text-shadow: rgb(83 141 74) 2px 2px;
  color: whitesmoke;
  margin-top: 1.5rem;
}

.btn {
  /* margin-top: 1rem; */
  background-color: pink;
  color: white;
  font-weight: bold;
  margin-top: none;
  text-shadow: none;
}

.btn:hover {
  background-color: #6ea182;
  color: white;
}

.close {
  color: white;
}

.list-group .btn {
  margin-left: 0.5rem;
}

.list-group .delete-button {
  background-color: rgb(217 98 126);
  border: none;
  color: #fff;
}

.delete-button:hover {
  background-color: rgb(181 60 89 / 93%);
  color: #fff;
}

.edit-button {
  background-color: rgb(116 180 231);
  color: #fff;
  border: none;
}

.list-group .edit-button:hover {
  background-color: var(--blue);
  color: white;
}

.list-group .done-button {
  background-color: rgb(124 183 115);
  border-style: solid;
  border: none;
  color: #fff;
}

.list-group .done-button:hover {
  background-color: rgb(83 141 74);
  border-style: solid;
  border: none;
  color: #fff;
}

.badge-danger {
  background-color: #ed296da8;
  text-shadow: 1px 1px rgb(49, 5, 27);
}
.badge-warning {
  background-color: rgb(255 212 101);
  text-shadow: #bb6400 1px 1px;
}
.badge-success {
  background-color: rgb(124 183 115);
  text-shadow: rgb(83 141 74) 1px 1px;
}

/* Form input success symbol*/
.success i.fa-check-circle {
  visibility: visible;
  color: rgb(130, 189, 121);
}

.success textarea,
.success input,
.success select {
  border-color: rgb(130, 189, 121);
}

.success small {
  visibility: visible;
  color: rgb(130, 189, 121);
  text-shadow: none;
}

/* Form input error symbol*/
.error i.fa-exclamation-circle {
  visibility: visible;
  color: rgb(217 98 126);
}

.error textarea,
.error input,
.error select {
  border-color: rgb(217 98 126);
}

.error small {
  visibility: visible;
  color: rgb(217 98 126);
  text-shadow: none;
}

/** Tasks List format */
ul {
  margin: 2rem;
  /* padding: 0 2rem 0 0; */
  border-color: var(--green);
}

li {
  border-radius: 1rem;
}
.edit,
.delete {
  float: right;
  margin: 0 1rem 0 0;
  color: var(--darkgreen);
}

footer {
  background-color: #ffc0cb87;
  background-color: #ffc0cb87;
  text-align: center;
  align-items: center;
  color: rgb(217 98 126);
  padding: 10px;
  margin-left: 28.5%;
  max-width: 43%;
  border-radius: 10px;
}
a {
  color: rgb(116 180 231);
}

footer p {
  max-width:none;
}

/* Temperature display */

.temperature-value,
.description,
.location {
  color: white;
  font-size: large;
  font-weight: bold;
  text-shadow: rgb(255 147 166) 2px 2px;
}

/* TASK 4: TIME DISPLAY  */
.timeDisplay {
  display: block;
  text-align: right;
  margin: 10px;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #ff93a6;
  font-size: xx-large;
  background: pink;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
}

/***************** Light and Dark theme *************/

.additional-features {
  color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.light-dark,
.timeDisplay,
.weather {
  display: inline-block;
  vertical-align: top;
}

.datetime {
  font-size: 18px;
}

/* Position the light dark toggle bar to the right  */
.light-dark {
  float: right;
}
/* hide checkbox  */
.checkbox {
  opacity: 0;
}

/* Adjacent selector + 
Select toggle inside the label and change the position from left to right.
*/
.checkbox:checked + .label .light-dark-toggle {
  transform: translateX(3rem);
}

span {
  font-weight: bold;
}

/* Reference 
https://stackoverflow.com/questions/19000124/how-to-add-different-styles-to-one-label-field-using-css
 */
label span {
  width: 2rem;
  height: 2.3rem;
  background-color: pink;
  display: flex;
  border-radius: 1rem;
  width: 5.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.fa-moon {
  color: #f5f5f5;
}
.fa-sun {
  font-size: 28px;
  color: rgb(255 245 101);
  text-shadow: none;
}
.light-dark-toggle {
  left: -3px;
  border-radius: 50%;
  background-color: rgb(255 147 166);
  position: absolute;
  height: 3rem;
  width: 3rem;
  /* this is added to make the transition smooth  */
  transition: transform 0.15s linear;
}

/************************************************/
/*                  Dark Theme                  */
/************************************************/
body.dark {
  background-color: #24252a;
  color: black;
  transition: background 0.2s linear;
}
/* label.dark {
  background-color: black;
} */

.dark .to-do-col,
.dark .in-progress-col,
.dark .done-col {
  margin: 1rem;
  background-color: #5354586b;
  border: none;
}

.dark h1 {
  color: #ff6961;
  text-shadow: 2px 2px #5d2522;
}

.dark h2 {
  color: whitesmoke;
  text-shadow: rgb(83, 83, 83) 3px 3px;
  border-bottom: none;
  background: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.dark h3 {
  color: whitesmoke;
  text-shadow: rgb(39, 39, 39) 3px 3px;
  border-bottom: none;
  background: #4e4f55;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.dark h5 {
  color: whitesmoke;
  text-shadow: 2px 2px black;
  max-width:180px;
}

.dark .timeDisplay {
  color: whitesmoke;
  text-shadow: 2px 2px black;
  background: #24252a;
}

.dark .description {
  text-shadow: 2px 2px black;
}

.dark label span {
  background: rgb(56 56 61);
}

.dark #open-task-modal {
  background-color: #ff6961;
  text-shadow: 2px 2px #a32822;
  color: whitesmoke;
  font-size: larger;
}

.dark #open-task-modal:hover {
  background-color: #f0483f;
}

.search-bar::placeholder {
  color: white;
}

.dark .bg-img {
  border: 3px solid #ff6961;
}

.dark .list-group-item {
  background-color: rgb(76, 77, 83);
  border: none;
  color: rgb(209, 209, 209);
}

.dark .list-group-item h5 {
  color: whitesmoke;
  text-shadow: rgb(39, 39, 39) 2px 2px;
  font-size: 1.2rem;
}

.dark .badge-danger {
  background-color: rgb(255 105 97);
}
.dark .badge-warning {
  background-color: rgb(239 176 12);
  text-shadow: rgb(0 0 0) 1px 1px;
}
.dark .badge-success {
  background-color: rgb(40 167 69);
}

.dark .hold {
  border: solid rgba(255, 255, 255, 0.3) 4px;
  border: #ff6961 1px solid;
}

.dark .hovered {
  background: rgb(238, 238, 234);
  border-style: dashed;
  border: #ff6961 1px solid;
}

.dark .edit-button {
  background-color: #4285f4;
  color: #fff;
}
.dark .edit-button:hover {
  background-color: #005ff8;
  border-color: #005ff8;
  color: #fff;
}

.dark .delete-button {
  background-color: #ff6961;
  border-color: #ff6961;
  color: #fff;
}
.dark .delete-button:hover {
  background-color: var(--red);
  border-color: var(--red);
  color: #fff;
}

.dark .list-group .done-button {
  background-color: #28a745;
  border-style: solid;
  border-color: #28a745;
  color: #fff;
}

.dark .list-group .done-button:hover {
  background-color: #1c8033;
  border-style: solid;
  border-color: #1c8033;
  color: #fff;
}

.dark .drag-drop-container > div {
  max-width: 100%;
}

.dark .modal-content {
  background-color: #24252a;
}

.dark .modal-header,
.dark label {
  color: whitesmoke;
  text-shadow: none;
}

.dark .modal-title {
  color: whitesmoke;
  text-shadow: none;
  border-bottom: none;
  margin-left: 4rem;
}

.dark .btn-block {
  background-color: #ff6961;
  text-shadow: rgb(109 109 109) 2px 2px;
  color: whitesmoke;
}

.dark .btn-block:hover{
  background-color: #f0483f;
}

.dark .close {
  color: white;
}

.dark .success small {
  color: palegreen;
}

.dark .success textarea,
.dark .success input,
.dark .success select {
  border-color: palegreen;
}

.dark span {
  color: whitesmoke;
}

.dark .temperature-value,
.dark .temperature-description,
.dark .location {
  color: #ff6961;
}

.dark footer {
  background: none;
  background-color: #44444436;
  text-align: center;
  align-items: center;
  color: rgb(218, 218, 218);
  padding: 10px;
  margin-left: 28.5%;
  max-width: 43%;
  border-radius: 10px;
}

.dark .card {
  background-color: rgb(36, 37, 42);
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.dark input.search-bar {
  color: whitesmoke;
}

.dark .btn-weather {
  color: white;
}

.dark .btn-weather:hover {
  background-color: grey;
  color: white;
}

.dark .light-dark-toggle {
  left: -5px;
  border-radius: 50%;
  background-color: #ff6961;
  position: absolute;
  height: 3rem;
  width: 3rem;
  /* this is added to make the transition smooth  */
  transition: transform 0.15s linear;
}

.dark .light-dark-toggle:hover {
  background-color: #ff5a51;
}

/************************************************/
/*               Drag and Drop Feature          */
/************************************************/
.bg {
  background-image: url("");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drag-drop-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  max-width: 100%;
}

h3 {
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px rgb(109, 109, 109);
  border: none;
  background: #b2cf9f;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

h5 {
  margin-top: 0.5rem;
  font-weight: 600;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px #ff93a6;
  font-size: larger;
}

.to-do-col,
.in-progress-col,
.done-col {
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #cbdfbd;
}

.list-group {
  cursor: pointer;
}

/* Hold and dragging the task item  */
.hold {
  /* border: solid rgba(255, 255, 255, 0.3) 4px; */
  border-radius: 1rem;
}

.hovered {
  /* background: rgb(238, 238, 234); */
  border-style: dashed;
  border: #cbdfbd 1px solid;
}

/************************************************/
/*                Responsiveness                */
/************************************************/
@media screen and (max-width: 600px) {
  .row {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    align-items: center;
  }

  .col {
    margin-left: 15px;
  }

  .drag-drop-container {
    margin-left: 5px;
    padding: 15px;
  }
}

/************************************************/
/*                Weather Display               */
/************************************************/

.card {
  background-color: pink;
  color: white;
  padding: 1rem;
  border-radius: 30px;
  max-width: 400px;
  margin: 1em;
  text-align: center;
  border: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-weather {
  margin-left: 0.5em;
  border-radius: 50%;
  border: none;
  height: 2.5rem;
  width: 3rem;
  outline: none;
  color: white;
  background: #7c7c7b2d;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.icon {
  width: 50%;
  margin: auto;
}

.description::first-letter {
  text-transform: uppercase;
}

.btn-weather:hover {
  background-color: rgb(216, 151, 151);
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background: #7c7c7b2d;
  color: rgb(209 77 100);
  font-family: inherit;
  font-size: 100%;
  /* width: calc(10% -70px); */
}

::placeholder {
  color: whitesmoke;
}

#stickybutton {
  position: fixed;
  bottom: 2%;
  left: 1%;
}

/************************************************/
/*           Night Mode Scroll Bar              */
/************************************************/

.dark::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}

.dark::-webkit-scrollbar-track {
  background: #eeeeee36;
  border-radius: 100vw;
  margin-block: 0.5em;
}

.dark::-webkit-scrollbar-thumb {
  background: #ff6961;
  border: 0.25em solid #ff6961;
  border-radius: 100vw;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: #ff4339d8;
}

.dark p::-webkit-scrollbar{
  width: 0.5em;
  height: 1em;
}

.dark p::-webkit-scrollbar-track {
  background: #eeeeee36;
  border-radius: 100vw;
  margin-block: 0.5em;
}

.dark p::-webkit-scrollbar-thumb {
  background: #ff6961;
  border: 0.25em solid #ff6961;
  border-radius: 100vw;
}

.dark p::-webkit-scrollbar-thumb:hover {
  background: #ff4339d8;
}
/************************************************/
/*           light Mode Scroll Bar              */
/************************************************/

::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #ecd7d7;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: pink;
  border: 0.25em solid pink;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255 147 166);
}

p::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}

p::-webkit-scrollbar-track {
  background: #ecd7d7;
  border-radius: 100vw;
  margin-block: 0.5em;
}

p::-webkit-scrollbar-thumb {
  background: pink;
  border: 0.25em solid pink;
  border-radius: 100vw;
}

p::-webkit-scrollbar-thumb:hover {
  background: rgb(255 147 166);
}